= form_for(@order) do |f|
  = f.fields_for(:address) do |a|
    .form-group
      = a.label :name
      %br
      = a.text_field :name, class: 'form-control', placeholder: 'Enter Name'
    .form-group
      = a.label :mobile
      %br
      = a.text_field :mobile, class: 'form-control', placeholder: 'Enter Mobile'
    .form-group
      = a.label :address_line_1
      %br
      = a.text_field :address_line_1, class: 'form-control', placeholder: 'Enter Address Line 1'
    .form-group
      = a.label :address_line_2
      %br
      = a.text_field :address_line_2, class: 'form-control', placeholder: 'Enter Address Line 2'
    .form-group
      = a.label :locality_id
      %br
      = a.select :locality_id, options_for_select(Locality.all.map{|s| [s.name, s.id]}), {:class=>'form-control'}
    = a.hidden_field :user_id, :value => current_user.id
  .form-group
    = f.label :pay_type
    %br
    = f.select :pay_type, options_for_select(PaymentMethod.pay_types), {:class=>'form-control'}
  .form-group
    = f.label :time
    %br
    = f.select :time, options_for_select(TimeSlot::TIMES), {:class=>'form-control'}
  = f.hidden_field :food_item_id, :value => params[:food_item_id]
  .actions.form-group
    = f.submit 'Place order and Make payment', :class => 'btn btn-lg btn-success btn-block'